---
# Name of the section displayed in the editor UI
# (only if keep_name is set to true)
name: Contact

# By default, the first text type setting will be used as
# the name of the section in the editor UI.
# To keep the name of the section instead, uncomment the following line.
# keep_name: true

# Icon of the section in the editor UI
# Values: header, default, slide, text, image_text, list, footer
icon: list

# By default, the first image_picker type setting will be used
# as the icon of the section in the editor UI.
# To keep the icon of the section instead, uncomment the following line.
# keep_icon: true

# Definition of the settings:
# A setting type can be one of the following values: text, image_picker, checkbox, radio, select, url, hint, content_type.
# Please visit: https://doc.locomotivecms.com/docs/json-definition for more explanation.
settings:
- label: "Section's title"
  id: title
  type: text
  default: "let's connect"

default:
  settings:
    title: "Let's connect"


---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your global section, just add the following code in your layout template:

  {% global_section 'contact' %}

{% endcomment %}
<div id="{{ section.anchor_id }}" class="contact-section" {{ section.locomotive_attributes }}>
  <div class="container">
    <div class="row justify-content-center justify-content-lg-start">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="contact-title">{{ section.settings.title}}</h2>

      <div id="contactFormSuccessMsg" class="alert alert-success d-none" role="alert">
        {{ 'form_submit_success_message' | translate }}
      </div>
      <div id="contactFormErrorMsg" class="alert alert-danger d-none" role="alert">
        {{ 'form_submit_error_message' | translate }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% model_form 'contact_requests', id: 'contactRequestForm', json: true %}
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="contactRequestInputName" name="content[name]" placeholder="John Doe">
        <label for="contactRequestInputName">{{ 'form_input_label_name' |  translate }}</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="contactRequestInputEmail" name="content[email]" placeholder="jd@example.com">
        <label for="contactRequestInputEmail">{{ 'form_input_label_email' |  translate }}</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="How can I help you" id="contactRequestInputMessage" name="content[message]" style="min-height: 150px"></textarea>
        <label for="contactRequestInputMessage">{{ 'form_input_label_message' |  translate }}</label>
      </div>
      <button type="submit" class="btn btn-default mt-3 d-block mx-auto" data-initial="connect" data-loading="connecting...">
        <span>[</span> <div btn-text class="d-inline">{{ 'form_btn_submit_label' |  translate }}</div> <span>]</span>
      </button>
      {% endmodel_form %}
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="links my-3 mt-md-5 d-lg-flex flex-lg-column text-lg-end align-items-lg-end">
        <a class="btn btn-link" href="">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.1875 5.25H4.8125C3.60438 5.25 2.625 6.22938 2.625 7.4375V20.5625C2.625 21.7706 3.60438 22.75 4.8125 22.75H23.1875C24.3956 22.75 25.375 21.7706 25.375 20.5625V7.4375C25.375 6.22938 24.3956 5.25 23.1875 5.25Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.125 8.75L14 14.875L21.875 8.75" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          hello@stephanedondyas.dev
        </a>
        <a class="btn btn-link" href="">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 1.75C7.23516 1.75 1.75 7.37734 1.75 14.3117C1.75 19.8625 5.26094 24.5656 10.1281 26.2281C10.1964 26.243 10.2661 26.2503 10.3359 26.25C10.7898 26.25 10.9648 25.9164 10.9648 25.6266C10.9648 25.3258 10.9539 24.5383 10.9484 23.4883C10.5432 23.5833 10.1287 23.6328 9.7125 23.6359C7.35547 23.6359 6.81953 21.8039 6.81953 21.8039C6.26172 20.3547 5.45781 19.9664 5.45781 19.9664C4.39141 19.2172 5.45234 19.1953 5.53437 19.1953H5.53984C6.77031 19.3047 7.41563 20.4969 7.41563 20.4969C8.02813 21.5687 8.84844 21.8695 9.58125 21.8695C10.0658 21.8598 10.5429 21.748 10.9812 21.5414C11.0906 20.732 11.4078 20.1797 11.7578 19.8625C9.03984 19.5453 6.17969 18.468 6.17969 13.6555C6.17969 12.2828 6.65547 11.1617 7.4375 10.2867C7.31172 9.96953 6.89062 8.68984 7.55781 6.96172C7.64731 6.9403 7.73929 6.93111 7.83125 6.93437C8.27422 6.93437 9.275 7.10391 10.9266 8.25234C12.9333 7.69087 15.0557 7.69087 17.0625 8.25234C18.7141 7.10391 19.7148 6.93437 20.1578 6.93437C20.2498 6.93111 20.3418 6.9403 20.4312 6.96172C21.0984 8.68984 20.6773 9.96953 20.5516 10.2867C21.3336 11.1672 21.8094 12.2883 21.8094 13.6555C21.8094 18.4789 18.9438 19.5398 16.2148 19.8516C16.6523 20.2398 17.0461 21.0055 17.0461 22.1758C17.0461 23.8547 17.0297 25.2109 17.0297 25.6211C17.0297 25.9164 17.1992 26.25 17.6531 26.25C17.7266 26.2503 17.7999 26.243 17.8719 26.2281C22.7445 24.5656 26.25 19.857 26.25 14.3117C26.25 7.37734 20.7648 1.75 14 1.75Z" fill="white"/>
          </svg> 
          @stephaneBalelos
        </a>
      </div>
    </div>
  </div>
  </div>
  
</div>
