---
# Name of the section displayed in the editor UI
# (only if keep_name is set to true)
name: Work

# By default, the first text type setting will be used as
# the name of the section in the editor UI.
# To keep the name of the section instead, uncomment the following line.
# keep_name: true

# Icon of the section in the editor UI
# Values: header, default, slide, text, image_text, list, footer
icon: text

# By default, the first image_picker type setting will be used
# as the icon of the section in the editor UI.
# To keep the icon of the section instead, uncomment the following line.
# keep_icon: true

# Definition of the settings:
# A setting type can be one of the following values: text, image_picker, checkbox, radio, select, url, hint, content_type.
# Please visit: https://doc.locomotivecms.com/docs/json-definition for more explanation.
settings:
- label: "Section Title"
  id: title
  type: text
  # html: true
  # line_break: true
  
  
# Definition of the blocks.
# You can define as many types of blocks as you want.
blocks: 
- name: "Work item"
  type: work_item
  settings:
  - label: "Title"
    id: title
    type: text
    # html: true
    # line_break: true
    default: "Skill 1"
  - label: "Work Details"
    id: details
    type: text
    html: true
    line_break: true
    default: "Details about the work."


# By default, in the editor UI, blocks will be listed below the "Content" title.
# The title can be changed with the following property:
# blocks_label: "My list of items"

# Presets can be seen as different versions of a same section.
# Useless if the section is not aimed to be used along with section_dropzone liquid tag
presets:
  - name: "Work"
    category: "Category"
    settings:
      title: "Delectus fugit veritatis error."
      text_content: "Text"
    blocks:
    - type: work_item
      settings:
        title: "Fugiat velit est numquam."
        image: "/samples/images/default.svg"
    - type: work_item
      settings:
        title: "Inventore non blanditiis neque."
        image: "/samples/images/default.svg"
    - type: work_item
      settings:
        title: "Atque assumenda laboriosam ipsam."
        image: "/samples/images/default.svg"

---
<section id="{{ section.anchor_id }}" class="work-section py-5" {{ section.locomotive_attributes }}>
  <div class="container">
    <h2 class="section-title text-white">{{ section.settings.title }}</h2>
    {% if section.settings.text_content %}
    <p>
        {{ section.settings.text_content }}
    </p>
    {% endif %}
    <div class="work-list row my-5">
      {% for block in section.blocks %}
        <div class="col-12">
          <div class="work-item mb-3 d-flex align-items-start">
            <div class="work-item-content">
              <h4 class="work-item-title text-white"> <span class="work-item-title-anchor">#</span> <b text-shuffle-alternate data-initial="{{ block.settings.title }}" data-alternate="{{ block.settings.title_alt }}" >{{ block.settings.title }}</b></h4>
              <p class="work-item-details">{{ block.settings.details }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  
</section>
